Thumbs.db
/.app_is_ready
/messages.mo
/node_modules
/locale/**/*.po~
/package-lock.json
/plugins.local/*
/themes.local/*
/config.php
/feed-icons/*
/cache/*/*
/lock/*
/.vscode/settings.json
/vendor/**/.git

*~
*.DS_Store
#*
.idea/*
config.php
feed-icons/*
cache/*/*
lock/*
tags
plugins/fever
cache/htmlpurifier/*/*ser
lib/htmlpurifier/library/HTMLPurifier/DefinitionCache/Serializer/*/*ser
web.config
