AddType image/svg+xml svg
AddType image/svg+xml svgz

Options -Indexes
Options +FollowSymLinks
DirectoryIndex index.php

<FilesMatch "^\.">
Order Deny,Allow
Deny from all
</FilesMatch>

# PROTECT config.php
<files config.php>
  Order Allow,Deny
  Deny from all
  Satisfy all
</files>